################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IdeaApp
/bin/Debug/netcoreapp3.1
/obj
/IdeaApp.Data/obj
/IdeaApp.Data/bin/Debug/netstandard2.0
/IdeaApp.Service/bin/Debug/netstandard2.0
/IdeaApp.Service/obj
/IdeaApp.Service/bin/Debug/netstandard2.1
/IdeaApp.Data/bin/Debug/netstandard2.1
/IdeaApp.Core/bin/Debug
